body {
	background-color: rgb(201, 234, 237);
}

#header {
	background-color: rgba(89, 165, 178, .4);
	padding: 2em;
}

#container {
    @include grid-row;
}
#sidebar {
    @include flex-item-width(300px);
}
#content {
    @include flex-item-auto;
}

#formDiv {
	background-color: rgba(89, 165, 178, .4);
	padding-bottom: 2em;
	margin-bottom: 3em;
	box-shadow: 0px 3px 3px rgba(42, 78, 84, .6);
}

#results {
	background-color: rgba(89, 165, 178, .4);
	padding: 2em;
}

#loginButton {
	float: right;
}

#toLogin {
    margin-left: 1em;
    margin-right: 1em;
}

#submit {
    background-color: rgb(91, 192, 222);
}